.card {
  position: relative;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%; /* Kartların aynı boyutta olabilmesi için */
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.cardImage {
  border-bottom: 1px solid #eaeaea;
  height: 200px; /* Resim yüksekliğini sabitle */
  object-fit: contain;
}

.cardHeader {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productName {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.category {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.author {
  margin-top: 5px;
  font-style: italic;
  color: #666;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.description {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #444;
  line-height: 1.5;
  max-height: 40px; /* Fazla uzamasını engelle */
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardFooter {
  margin-top: auto; /* Footer en alta gelsin */
}

.buyButton {
  margin-top: 15px;
}
