.card {
  position: relative;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.cardImage {
  border-bottom: 1px solid #eaeaea;
}

.cardHeader {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productName {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}

.category {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.author {
  margin-top: 5px;
  font-style: italic;
  color: #666;
}

.description {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #444;
  line-height: 1.5;
  flex-grow: 1; /* Allow description to grow within limits */
  max-height: 60px; /* Prevent long descriptions from breaking layout */
  overflow: hidden;
}

.cardFooter {
  margin-top: auto; /* Push footer to the bottom */
}

.buyButton {
  margin-top: 15px;
}

.cardFooter .mantine-ActionIcon-root {
  transition: all 0.2s ease-in-out;
}

.cardFooter .mantine-ActionIcon-root:hover {
  transform: scale(1.1);
  color: #1c9f7f;
}
